@model VehicleAccounting.Models.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверенны что хотите удалить эту запись?</h3>
<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uploadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uploadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unloadingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unloadingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.routeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Route.departurePoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.transportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.driverFIO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.treatyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treaty.currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.customerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderExecutorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderExecutor.orderExecutorName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">На главную</a>
    </form>
</div>
